body {
    display: flex;
    background-color: silver;
}

.sectcol {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 35px;
}


#input1 {
    width: 35rem;
    padding: 1rem 3px;
    border-radius: 5px;
    border: none;
}

#input1:focus {
    outline: none;
}

#input1::placeholder {
    font-size: 16px;
    font-family: cursive;
}

#textareaname {
    width: 35rem;
    resize: none;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
}

#textareaname:focus {
    outline: none;
}

#textareaname::placeholder {
    font-size: 16px;
    font-family: cursive;
}

#btnaddnote {
    width: 35.5rem;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    padding: .5rem;
    cursor: pointer;
    background-color: rgb(255, 157, 0);
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}


.addtotext .btn1 {
    background-color: rgb(255, 166, 0);
    border: none;
    color: white;
    padding: 0.6rem;
    border-radius: 5px;
    cursor: pointer;
}